<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}">
<head>
    {% include "head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/prism.css") | safe }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/prism-futil.css") | safe }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/prism-verilog.css") | safe }}">
</head>
<body>
    <script src={{ get_url(path="js/prism.js") }}></script>
    <script src={{ get_url(path="js/prism-futil.js") }}></script>
    <script src={{ get_url(path="js/prism-verilog.js") }}></script>

      <header>
          {% include "anemone/templates/header.html" %}
      </header>
      <main>
          {% block content %}
          {% endblock content %}
      </main>
      <footer>
          {% include "anemone/templates/footer.html" %}
      </footer>
</body>
</html>